<!-- Click on block create hover -->
<div class="hover-on-block" style="background-image: url(taj.png)">
    <div class="active-hover">
        <h4>Caption</h4>
        <p>Description</p>
    </div>
</div>