footer{
    .container{


    }
    .copyright{
        text-align: center;
        color: #000;
    }
}

@media(min-width:992px) and (max-width:1200px){

}

@media(min-width:769px) and (max-width:991px){

}

@media(min-width:601px) and (max-width:768px){

}

@media(min-width:481px) and (max-width:600px){

}

@media(max-width:480px){

}

@media(max-width:375px){

}

@media(max-width:325px){

}