header{
    height: 100px;
    position: relative;
    .container{
        height: inherit;
        padding-top: 15px;
        padding-bottom: 15px;
        @include flex(space-between, center);
        .logo{
          height: 100%;
          width: auto;
          @include flex(center, center);
        }
        .wrapper{
            @include flex(flex-end, center);
            .menu{
              @include flex-n-dots;
              margin: 0 15px;
              li{
                a{
                  padding: 10px;
                  margin: 5px;
                }
                &.active{
                   a{
                      //link active
                      color: #fff;
                   }      
                }
              }
            }
            .btn{
              margin: 0;
            }
        }
    }
}

//header adaptive
@media(min-width:769px){
    header{
        .adaptive-menu{
            list-style-type: none;
        }
    }
}

@media(min-width:992px) and (max-width:1200px){

}

@media(min-width:769px) and (max-width:991px){

}

@media(min-width:601px) and (max-width:768px){

}

@media(min-width:481px) and (max-width:600px){

}

@media(max-width:480px){

}

@media(max-width:375px){

}

@media(max-width:325px){

}
