<!-- Btn open modal -->
     <button class="open_modal">Open modal</button> 

<!-- Modal window and dark background -->
    <div class="dark-back-modal">
        <div class="modal">
            <!-- Btn close modal window -->
            <div class="close-modal"><i class="fa fa-times" aria-hidden="true"></i></div>
            <!-- Content this modal window -->
            <p>
              Cool modal window
            </p>
        </div>
    </div>