@import "basic/mixin";

*{
    box-sizing: border-box;
    outline: none;
}

HTML, body{
    margin: 0;
}

//Captions
h1, h2, h3, h4, h5, h6{
    
}

.title-block{
    width: 270px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #000;
    .title{
        
    }
}

p{
    font-size: 16px;                
    font-family: $family1;          
}

//Links-----------------------------------
//need to customize
a{
    color: #000;                    
    text-decoration: none;
    &:hover{
        color: #000;                
    }
}

//Img-------------------------------------
//do not need to customize
.image-block{
    @include flex(center, center); 
    padding: 5px;
    img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

//Form------------------------------------
//need to customize
input, textarea{
    font: 14px Arial;               
    color: #000;                    
    border: 1px solid #d5d5d5;      
    padding: 5px 15px;
    width: 100%;
}
input{
    height: 44px;                   
    
}
textarea{
    height: 180px; 
    padding-top: 12px;
}
::placeholder{
    color: #d5d5d5;                 
}
label{
    font: 16px Arial;               
    color: #000;                    
    cursor: pointer;
}
.input-field{
    label{
        width: 100%;
        padding: 10px 15px;
        display: block;
    }
}
//end form

//Flex
.-space_between{
    display: flex;
    justify-content: space-between;
}
.-space_between_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}