.btn{
   // [width] [height] [margin] [bg-color] [text-color] [text-family] [text-size] [border-size] [border-radius]
   &-cart{
     @include btn(170px, 44px, 0, black, white, Arial, 16px, 1px, 5px);
     &:hover{
        background-color: #fff;
        color: #000;
         border-color: #000;
     }
   }
}