<!-- Header -->
<header>
    <div class="container">
        <div class="logo"><img src="logo.png" alt="logo site"></div>
        <div class="wrapper">
          <ul id="main-menu" class="menu">
            <li><a href="#"></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
          <i id="menu-toggle" class="fa fa-bars" aria-hidden="true"></i>
          <a href="#" class="btn-cart">Button</a>
        </div>
    </div>
    <!-- Adaptive -->
    <div id="adaptive-menu"></div>
</header>