/*Adaptive menu*/
#menu-toggle {
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 21px;
  width: 20px;
  height: 20px; }

#menu-toggle {
  display: none; }

@media (max-width: 768px) {
  #main-menu {
    display: none; }
  #menu-toggle {
    display: block; }
  #adaptive-menu {
    display: none;
    background-color: #e8e8e8;
    position: absolute;
    width: 100%;
    z-index: 1; }
    #adaptive-menu .menu {
      list-style-type: none;
      padding: 0;
      width: 100%; } }

/*end Adaptive menu*/

/* Grid adjustment */
.container {
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .row.col2 > .item {
    width: calc(100% / 2 - 15px);
    margin-right: 30px;
    margin-bottom: 20px;
    min-height: 200px; }
    .row.col2 > .item:nth-child(2n) {
      margin-right: 0; }
  .row.col3 > .item {
    width: calc(100% / 3);
    min-height: 270px; }
  .row.col4 > .item {
    width: calc(100% / 4 - 15px);
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 150px;
    background-color: #c5c5c5; }
    .row.col4 > .item:nth-child(4n) {
      margin-right: 0; }
  .row.col5 > .item {
    width: calc(100% / 5 - 16px);
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 150px;
    background-color: #c5c5c5; }
    .row.col5 > .item:nth-child(5n) {
      margin-right: 0; }
  .row.col6 > .item {
    width: calc(100% / 6 - 15px);
    margin-right: 18px;
    margin-bottom: 20px;
    min-height: 150px;
    background-color: #c5c5c5; }
    .row.col6 > .item:nth-child(6n) {
      margin-right: 0; }

@media (max-width: 1200px) {
  .container {
    width: 94%; } }

@media (min-width: 769px) and (max-width: 991px) {
  .row.col6 > .item {
    width: calc(100% / 3 - 12px); }
    .row.col6 > .item:nth-child(3n) {
      margin-right: 0; } }

@media (min-width: 481px) and (max-width: 768px) {
  .row.col2 > .item {
    width: 100%;
    margin-right: 0; }
  .row.col4 > .item {
    width: calc(100% / 2 - 2%);
    margin-right: 4%; }
    .row.col4 > .item:nth-child(2n) {
      margin-right: 0; }
  .row.col5 > .item {
    width: calc(100% / 3 - 2%);
    margin-right: 3%; }
    .row.col5 > .item:nth-child(3n) {
      margin-right: 0; }
  .row.col6 .item {
    width: calc(100% / 3 - 2%);
    margin-right: 3%; }
    .row.col6 .item:nth-child(3n) {
      margin-right: 0; } }

@media (max-width: 480px) {
  .row.col2 > .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px; }
  .row.col3 > .item {
    width: calc(100% / 2);
    /*margin-right: 4%;*/
    /*&:nth-child(3n){
              margin-right: 4%;
          }*/ }
    .row.col3 > .item:nth-child(2n) {
      margin-right: 0; }
  .row.col4 > .item {
    width: calc(100% / 2 - 2%);
    margin-right: 4%; }
    .row.col4 > .item:nth-child(2n) {
      margin-right: 0; }
  .row.col5 > .item {
    width: calc(100% / 2 - 2%);
    margin-right: 4%; }
    .row.col5 > .item:nth-child(2n) {
      margin-right: 0; }
    .row.col5 > .item:nth-child(3n) {
      margin-right: 4%; }
  .row.col6 > .item {
    width: calc(100% / 2 - 2%);
    margin-right: 4%; }
    .row.col6 > .item:nth-child(2n) {
      margin-right: 0; } }

/* end Grid adjustment */

/*Modal*/
.dark-back-modal {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto; }
  .dark-back-modal .modal {
    width: 480px;
    min-height: 200px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 35vh auto; }
    .dark-back-modal .modal .close-modal {
      width: 45px;
      height: 45px;
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .dark-back-modal .modal .close-modal i {
        font-size: 22px;
        margin-top: -1px;
        color: #333333; }

@media (max-width: 600px) {
  .dark-back-modal .modal {
    width: 80%; } }

@media (max-width: 480px) {
  .dark-back-modal .modal {
    width: 80%; } }

/*end Modal*/

/*Hover on block*/
.hover-on-block {
  position: relative;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  .hover-on-block .active-hover {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column; }

@media (min-width: 992px) {
  .hover-on-block:hover .active-hover {
    display: flex; } }

/*end Hover on block*/

/**{
  box-sizing: border-box;
}
label{
    display: block;
    width: 100%;
    margin-bottom: 13px;
    font-size: 14px;
}
input, textarea{
    width: 100%;
    font-size: 14px;
    padding: 16px;
}
input{
    height: 44px;
    margin-bottom: 5px;
}*/
.input-block .error, .textarea-block .error {
  display: block;
  background-color: #f8e5e7;
  width: 100%;
  height: 24px;
  color: #d0021b;
  font-size: 12px;
  padding: 4px 6px;
  visibility: hidden;
  margin-bottom: 5px; }
