@font-face {
  font-family: '';
  src: url(../fonts/); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

HTML, body {
  margin: 0; }

.title-block {
  width: 270px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000; }

p {
  font-size: 16px;
  font-family: "Arial"; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000; }

.image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 5px; }
  .image-block img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

input, textarea {
  font: 14px Arial;
  color: #000;
  border: 1px solid #d5d5d5;
  padding: 5px 15px;
  width: 100%; }

input {
  height: 44px; }

textarea {
  height: 180px;
  padding-top: 12px; }

::-webkit-input-placeholder {
  color: #d5d5d5; }

::-moz-placeholder {
  color: #d5d5d5; }

:-ms-input-placeholder {
  color: #d5d5d5; }

::-ms-input-placeholder {
  color: #d5d5d5; }

::placeholder {
  color: #d5d5d5; }

label {
  font: 16px Arial;
  color: #000;
  cursor: pointer; }

.input-field label {
  width: 100%;
  padding: 10px 15px;
  display: block; }

.-space_between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.btn-cart {
  display: block;
  width: 170px;
  height: 44px;
  background-color: black;
  color: white;
  padding: 12.5px 15px;
  margin: 0;
  font-size: 16px;
  font-family: Arial;
  text-align: center;
  border: 1px solid black;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer; }
  .btn-cart:hover {
    text-decoration: none; }
  .btn-cart:hover {
    background-color: #fff;
    color: #000;
    border-color: #000; }

header {
  height: 100px;
  position: relative; }
  header .container {
    height: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    header .container .logo {
      height: 100%;
      width: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
    header .container .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
      header .container .wrapper .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 15px; }
        header .container .wrapper .menu li a {
          padding: 10px;
          margin: 5px; }
        header .container .wrapper .menu li.active a {
          color: #fff; }
      header .container .wrapper .btn {
        margin: 0; }

@media (min-width: 769px) {
  header .adaptive-menu {
    list-style-type: none; } }

footer .copyright {
  text-align: center;
  color: #000; }

/*---Styles---*/
header {
  background-color: grey; }

/*---end styles---*/
