/**{
  box-sizing: border-box;
}
label{
    display: block;
    width: 100%;
    margin-bottom: 13px;
    font-size: 14px;
}
input, textarea{
    width: 100%;
    font-size: 14px;
    padding: 16px;
}
input{
    height: 44px;
    margin-bottom: 5px;
}*/
.input-block, .textarea-block{
    .error{
        display: block;
        background-color: #f8e5e7;
        width: 100%;
        height: 24px;
        color: #d0021b;
        font-size: 12px;
        padding: 4px 6px;
        visibility: hidden;
        margin-bottom: 5px;
    }
}